go 1.25.6

use (
	./app
	./contracts/atomicfile
	./contracts/channel-protocol
	./contracts/event
	./contracts/state
	./plugins/channel-server
	./plugins/github-provider
	./plugins/github-watcher
	./plugins/legacy-migration
	./plugins/slack-adapter
)
